.button {
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 10%;
}
