<div class="container">
  <div class="order">
    <span><strong>Order details: </strong></span>
    <p>{{orderDetails}}</p>
    <div class="item" *ngFor="let item of order; let i = index">
      <p><b>name: </b>{{ item.name }} </p>
      <p><b> price: </b> {{ item.price }}</p>
      <button class="deleteBtn" (click)="deleteItem(i)">X</button>
    </div>

    <p><b>Total price: </b></p>
  </div>
  <div class="items">
    <strong>Add items: </strong>
    <div>
      <app-item
        *ngFor="let item of items; let i = index"
        [name] = "item.name"
        [price]="item.price"
        [icon]="item.icon"
        (click) = "onAddItem(i)"
      ></app-item>
    </div>
  </div>
</div>

