.container {
  display: flex;
  justify-content: space-around;
}

.order {
  border: 2px solid black;
  width: 500px;
  padding: 30px;
}

.items {
  border: 2px solid black;
  width: 500px;
  padding: 30px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.deleteBtn {
  margin: 5px;
}
